extends template

block content

    div(class="container row")
        div(class="col-xs-s4")
            video(controls, poster=item.url, width=560)
                source(src=item.video, type="video/mp4")
        div(class="col-xs-8")
            h2 Album: 
            p #{item.album}
            h2 Artist: 
            p #{item.artist}
            h2 Description: 
            p #{item.description}
            audio(controls)
                source(src=item.audio, type="audio/mp3")
        
        
        
        